[submodule "modules/centropy"]
	path = modules/centropy
	url = https://github.com/MbarkErras/centropy.git
[submodule "modules/cdata_structures"]
	path = modules/cdata_structures
	url = https://github.com/MbarkErras/cdata_structures.git
